doctype html
html
	head
		// inject:css
		// endinject

	body
		
		nav.indigo
			div.nav-wrapper
				a.center.brand-logo(href="#") LLL
				ul.right
					li
						a(href="#") Home 
					li
						a(href="#") About Us
					li
						a(href="#") Products


		img#main-image.responsive-img.center-align(src="./img/travel.jpg")

		div.containter
			div.row
				div.col.s12.m6.l4
					div.card
						div.card-content
							div.center-align
								li.fa.fa-plane.fa-4x.orange-text
							div.card-title.center-align.orange-text Flights
							p Lorem ipsum mollis est arcu nam mollis ante iaculis aliquam, quam nostra cursus eros hendrerit facilisis suspendisse blandit hendrerit tempus, odio massa nulla sit faucibus nisi pretium platea per ultrices tortor diam. Lorem ipsum mollis est arcu nam mollis ante iaculis aliquam, quam nostra cursus eros hendrerit facilisis suspendisse blandit hendrerit tempus, odio massa nulla sit faucibus nisi pretium platea per ultrices tortor diam. Lorem ipsum mollis est arcu nam mollis ante iaculis aliquam, quam nostra cursus eros hendrerit facilisis suspendisse blandit hendrerit tempus, odio massa nulla sit faucibus nisi pretium platea per ultrices tortor diam
							div.center-align
								a.btn-flat.waves-effect.waves-light.orange-text.accent-2.grey.lighten-3 View Timetable
				div.col.s12.m6.l4
					div.card
						div.card-content
							div.center-align
								li.fa.fa-bed.fa-4x.orange-text
							div.card-title.center-align.orange-text Hotels
							p Lorem ipsum mollis est arcu nam mollis ante iaculis aliquam, quam nostra cursus eros hendrerit facilisis suspendisse blandit hendrerit tempus, odio massa nulla sit faucibus nisi pretium platea per ultrices tortor diam. Lorem ipsum mollis est arcu nam mollis ante iaculis aliquam, quam nostra cursus eros hendrerit facilisis suspendisse blandit hendrerit tempus, odio massa nulla sit faucibus nisi pretium platea per ultrices tortor diam. Lorem ipsum mollis est arcu nam mollis ante iaculis aliquam, quam nostra cursus eros hendrerit facilisis suspendisse blandit hendrerit tempus, odio massa nulla sit faucibus nisi pretium platea per ultrices tortor diam.
							div.center-align
								a.btn-flat.waves-effect.waves-light.orange-text.accent-2.grey.lighten-3 View Hotels
				div.col.s12.l4
					div.card
						div.center-align
								li.fa.fa-car.fa-4x.orange-text
						div.card-content
							div.card-title.center-align.orange-text Car Hire
							p Lorem ipsum mollis est arcu nam mollis ante iaculis aliquam, quam nostra cursus eros hendrerit facilisis suspendisse blandit hendrerit tempus, odio massa nulla sit faucibus nisi pretium platea per ultrices tortor diam. Lorem ipsum mollis est arcu nam mollis ante iaculis aliquam, quam nostra cursus eros hendrerit facilisis suspendisse blandit hendrerit tempus, odio massa nulla sit faucibus nisi pretium platea per ultrices tortor diam. Lorem ipsum mollis est arcu nam mollis ante iaculis aliquam, quam nostra cursus eros hendrerit facilisis suspendisse blandit hendrerit tempus, odio massa nulla sit faucibus nisi pretium platea per ultrices tortor diam.
							div.center-align
								a.btn-flat.waves-effect.waves-light.orange-text.accent-2.grey.lighten-3 View Cars
		
		
		footer.page-footer.indigo
			div.footer-copyright
				div.container © 2014-2016 Materialize, All rights reserved.
					

		// inject:js
		// endinject