doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
    title Parallax Template - Materialize
    //inject:css
    //endinject
  body
    nav.white(role='navigation')
      .nav-wrapper.container
        a#logo-container.black-text.brand-logo(href='#') Logo
        ul.right.hide-on-med-and-down
          li
            a.black-text(href='index.html') Starter Template
          li
            a.black-text(href='parallax.html') Parallax Template
          li
            a.black-text(href='masonry.html') Masonry Demo
        ul#nav-mobile.side-nav
          li
            a.black-text(href='index.html') Starter Template
          li
            a.black-text(href='parallax.html') Parallax Template
          li
            a.black-text(href='masonry.html') Masonry Demo
        a.button-collapse(href='#', data-activates='nav-mobile')
          i.mdi-navigation-menu
    .section.no-pad-bot
      .container
        br
        br
        h1.header.center.teal-text.text-lighten-2 Parallax Template
        .row.center
          h5.header.col.s12.light A modern responsive front-end framework based on Material Design
        .row.center
          a#download-button.btn-large.waves-effect.waves-light.teal.lighten-1(href='http://materializecss.com/getting-started.html') Get Started
        br
        br
        #masonry-grid.row
          .col.s6.m4
            .card
              .card-image
                img(src='img/background1.jpg')
                span.card-title Card Title
              .card-content
                p
                  | I am a very simple card. I am good at containing small bits of information.
                  | I am convenient because I require little markup to use effectively.
              .card-action
                a(href='#') This is a link
                a(href='#') This is a link
          .col.s6.m4
            .card
              .card-image
                img(src='img/background1.jpg')
                span.card-title Card Title
              .card-content
                p
                  | I am a very simple card. I am good at containing small bits of information.
                  | I am convenient because I require little markup to use effectively.
              .card-action
                a(href='#') This is a link
                a(href='#') This is a link
          .col.s6.m4
            .card
              .card-content
                p
                  | I am a very simple card. I am good at containing small bits of information.
                  | I am convenient because I require little markup to use effectively.
              .card-action
                a(href='#') This is a link
                a(href='#') This is a link
          .col.s6.m4
            .card
              .card-image
                img(src='img/background1.jpg')
                span.card-title Card Title
              .card-content
                p
                  | I am convenient because I require little markup to use effectively.
              .card-action
                a(href='#') This is a link
                a(href='#') This is a link
          .col.s6.m4
            .card
              .card-image
                img(src='img/background1.jpg')
                span.card-title Card Title
              .card-content
                p I am a very simple card. I am good at containing small bits of information.
              .card-action
                a(href='#') This is a link
                a(href='#') This is a link
          .col.s6.m4
            .card
              .card-image
                img(src='img/background1.jpg')
                span.card-title Card Title
              .card-content
                p
                  | I am a very simple card. I am good at containing small bits of information.
                  | I am convenient because I require little markup to use effectively.
              .card-action
                a(href='#') This is a link
                a(href='#') This is a link
    footer.page-footer.teal
      .container
        .row
          .col.l6.s12
            h5.white-text Company Bio
            p.grey-text.text-lighten-4
              | We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.
          .col.l3.s12
            h5.white-text Settings
            ul
              li
                a.white-text(href='#!') Link 1
              li
                a.white-text(href='#!') Link 2
              li
                a.white-text(href='#!') Link 3
              li
                a.white-text(href='#!') Link 4
          .col.l3.s12
            h5.white-text Connect
            ul
              li
                a.white-text(href='#!') Link 1
              li
                a.white-text(href='#!') Link 2
              li
                a.white-text(href='#!') Link 3
              li
                a.white-text(href='#!') Link 4
      .footer-copyright
        .container
          | Made by 
          a.brown-text.text-lighten-3(href='http://materializecss.com') Materialize
    // Scripts
    //inject:js
    //endinject
